@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */

:root {
  --primary: theme('colors.light-theme.orange.DEFAULT');
  --primary-dark: theme('colors.light-theme.orange.dark');
  --red: theme('colors.light-theme.red.DEFAULT');
  --red-dark: theme('colors.light-theme.red.dark');
  --red-muted: theme('colors.light-theme.red.muted');
  --green: theme('colors.light-theme.green.DEFAULT');
  --green-dark: theme('colors.light-theme.green.dark');
  --green-muted: theme('colors.light-theme.green.muted');
  --orange: theme('colors.light-theme.orange.DEFAULT');
  --bkg-1: theme('colors.light-theme.bkg-1');
  --bkg-2: theme('colors.light-theme.bkg-2');
  --bkg-3: theme('colors.light-theme.bkg-3');
  --bkg-4: theme('colors.light-theme.bkg-4');
  --fgd-1: theme('colors.light-theme.fgd-1');
  --fgd-2: theme('colors.light-theme.fgd-2');
  --fgd-3: theme('colors.light-theme.fgd-3');
  --fgd-4: theme('colors.light-theme.fgd-4');
  --bkg-button: theme('colors.light-theme.bkg-button');
}

[data-theme='Dark'] {
  --primary: theme('colors.dark-theme.yellow.DEFAULT');
  --primary-dark: theme('colors.dark-theme.yellow.dark');
  --red: theme('colors.dark-theme.red.DEFAULT');
  --red-dark: theme('colors.dark-theme.red.dark');
  --red-muted: theme('colors.dark-theme.red.muted');
  --green: theme('colors.dark-theme.green.DEFAULT');
  --green-dark: theme('colors.dark-theme.green.dark');
  --green-muted: theme('colors.dark-theme.green.muted');
  --orange: theme('colors.dark-theme.orange.DEFAULT');
  --bkg-1: theme('colors.dark-theme.bkg-1');
  --bkg-2: theme('colors.dark-theme.bkg-2');
  --bkg-3: theme('colors.dark-theme.bkg-3');
  --bkg-4: theme('colors.dark-theme.bkg-4');
  --fgd-1: theme('colors.dark-theme.fgd-1');
  --fgd-2: theme('colors.dark-theme.fgd-2');
  --fgd-3: theme('colors.dark-theme.fgd-3');
  --fgd-4: theme('colors.dark-theme.fgd-4');
  --bkg-button: theme('colors.dark-theme.bkg-button');
}

[data-theme='Mango'] {
  --primary: theme('colors.mango-theme.yellow.DEFAULT');
  --primary-dark: theme('colors.mango-theme.yellow.dark');
  --red: theme('colors.mango-theme.red.DEFAULT');
  --red-dark: theme('colors.mango-theme.red.dark');
  --red-muted: theme('colors.mango-theme.red.muted');
  --green: theme('colors.mango-theme.green.DEFAULT');
  --green-dark: theme('colors.mango-theme.green.dark');
  --green-muted: theme('colors.mango-theme.green.muted');
  --orange: theme('colors.mango-theme.orange.DEFAULT');
  --bkg-1: theme('colors.mango-theme.bkg-1');
  --bkg-2: theme('colors.mango-theme.bkg-2');
  --bkg-3: theme('colors.mango-theme.bkg-3');
  --bkg-4: theme('colors.mango-theme.bkg-4');
  --fgd-1: theme('colors.mango-theme.fgd-1');
  --fgd-2: theme('colors.mango-theme.fgd-2');
  --fgd-3: theme('colors.mango-theme.fgd-3');
  --fgd-4: theme('colors.mango-theme.fgd-4');
  --bkg-button: theme('colors.mango-theme.bkg-button');
}

body {
  @apply font-body tracking-wider;
}